---
import Layout from "../layouts/Layout.astro";
import MatrixAnimation from "../components/MatrixAnimation.tsx";
---

<Layout>
    <div class="w-full h-80">
        <MatrixAnimation
            client:only="solid-js"
            backgroundColor="#000"
            textColor="#3b82f6"
        />
    </div>
</Layout>
