---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import MatrixAnimation from "../components/MatrixAnimation.tsx";
---

<Layout>
    <section
        aria-label="Matrix rain animation with waving hand"
        id="matrix-rain"
        class="w-full h-80 relative"
    >
        <MatrixAnimation
            client:only="solid-js"
            backgroundColor="#000"
            textColor="#3b82f6"
        />
        <div
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex items-center"
        >
            <Image
                src="/image/emoji/waving_hand.png"
                alt="Waving Hand Emoji"
                class="h-20 w-20 sm:h-36 sm:w-36 mr-2"
                loading="eager"
                width={144}
                height={144}
            />
            <h1 class="text-6xl sm:text-9xl font-bold text-white">Hi</h1>
        </div>
    </section>

    <section
        aria-label="I'm BestCodes, a Christian, Coder, and Creator"
        id="hero-section"
        class="w-full flex flex-col items-center mt-8 sm:mt-16"
    >
        <Image
            src="/image/best_codes_logo_low_res.png"
            alt="BestCodes Logo"
            class="h-16 w-16 sm:h-16 sm:w-16 md:h-24 md:w-24 lg:h-32 lg:w-32 rounded-full"
            loading="eager"
            width={128}
            height={128}
        />
        <h2
            class="mt-4 text-5xl sm:text-5xl md:text-6xl lg:text-8xl text-blue-500 font-bold mb-4"
        >
            I'm BestCodes
        </h2>
        <p class="text-xl sm:text-xl md:text-3xl lg:text-5xl text-blue-500">
            Christian, Coder, Creator
        </p>
    </section>

    <section
        aria-label="BestCodes is a Christian"
        id="christian-section"
        class="h-fit w-full p-8"
    >
        <div class="w-full sm:w-full md:w-3/4 lg:w-2/3">
            <div
                class="dark:bg-slate-800 dark:border-none rounded-lg border border-gray-200 bg-white"
            >
                <div class="p-6 pb-0">
                    <div class="flex flex-row items-center gap-2">
                        <Image
                            src="/image/emoji/latin_cross.png"
                            alt="latin cross"
                            loading="eager"
                            width={56}
                            height={56}
                            class="h-8 w-8 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-14 lg:w-14"
                        />
                        <span
                            class="text-3xl sm:text-3xl md:text-4xl lg:text-6xl dark:text-white"
                        >
                            I&apos;m a <span class="text-blue-500"
                                >Christian</span
                            >
                        </span>
                    </div>
                    <p class="dark:text-gray-300 mt-2">
                        Sinner Saved by God&apos;s Grace
                    </p>
                </div>
                <div class="flex flex-col gap-4 text-lg dark:text-white p-6">
                    <p>
                        I&apos;m a sinner saved by grace, redeemed by
                        Christ&apos;s love. Striving to live for God&apos;s
                        glory and share His message of hope. Imperfect but
                        forgiven, growing in faith daily.
                    </p>
                    <p>
                        I haven&apos;t published very many of my Christian or
                        Bible related projects yet. (I haven&apos;t published
                        many of my projects in general).
                    </p>
                    <p>
                        I am currently working on a few Bible apps, verse of the
                        day programs, etc. I&apos;ll publish them when I get
                        around to finishing them...
                    </p>
                    <div class="w-full flex justify-center items-center mt-4">
                        {/* Carousel will go here */}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section
        aria-label="BestCodes is a Coder"
        id="coder-section"
        class="h-fit w-full flex p-8 justify-center items-center"
    >
        <div class="w-full sm:w-full md:w-3/4 lg:w-2/3">
            <div
                class="dark:bg-slate-800 dark:border-none rounded-lg border border-gray-200 bg-white"
            >
                <div class="p-6 pb-0">
                    <div class="flex flex-row items-center gap-2">
                        <Image
                            src="/image/emoji/technologist.png"
                            alt="technologist"
                            width={56}
                            height={56}
                            class="h-8 w-8 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-14 lg:w-14"
                        />
                        <span
                            class="text-3xl sm:text-3xl md:text-4xl lg:text-6xl dark:text-white"
                        >
                            I&apos;m a <span class="text-blue-500">Coder</span>
                        </span>
                    </div>
                    <p class="dark:text-gray-300 mt-2">
                        Probably a bit obvious, credits to my username...
                    </p>
                </div>
                <div class="flex flex-col gap-4 text-lg dark:text-white p-6">
                    <p>
                        I love to code! I&apos;ve been coding for about{" "}
                        {new Date().getFullYear() - 2017} years now.
                    </p>
                    <p>
                        My programming journey began several years ago when I
                        received an{" "}
                        <a
                            href="https://makeblock.com/products/buy-mbot"
                            class="text-blue-500"
                        >
                            mBot
                        </a>{" "}
                        from a friend. The little robot was simple but very fun!
                        The graphic-based programming (based on Blockly by Google)
                        made it pretty easy to learn and understand coding concepts.
                        Of course, it&apos;s very limited! I wanted to learn more.
                        You run out of things to do with Blockly quite quickly.
                    </p>
                    <p>
                        Before receiving my mBot, I had already (barely) fiddled
                        with JavaScript a bit. I made a few simple HTML pages
                        (following tutorials like the famous &apos;Fav
                        Drink&apos; on w3schools). It was super fun but also
                        super impractical! I wanted to make my own useful
                        website. Interactivity isn&apos;t everything!
                    </p>
                    <p>
                        It didn&apos;t take long for me to discover CSS. I
                        fine-tuned my styling skills with the help of AI. (Now,
                        of course, I just use frameworks with built in styling
                        like TailwindCSS. It makes things a lot more uniform and
                        consistent.)
                    </p>
                    <p>
                        That&apos;s a nice summary of how I got started with web
                        development. I&apos;m a full-stack developer now, which,
                        for any non-programming viewers, basically means I make
                        the frontend things you appreciate (a website is
                        frontend), and the backend things you probably
                        don&apos;t even know exist. There&apos;s a lot that goes
                        on behind the scenes!
                    </p>
                    <p>
                        I write most of my backend in Node.js, which is not
                        surprising (since I already had experience with
                        JavaScript.)
                    </p>
                    <div
                        class="w-full flex flex-col gap-4 justify-center items-center mt-4"
                    >
                        <span class="text-3xl flex flex-row items-center gap-2">
                            <Image
                                src="/image/emoji/pushpin.png"
                                alt="pushpin"
                                width={40}
                                height={40}
                                class="h-10 w-10"
                            />
                            Pinned Projects
                        </span>
                        {/* Carousel will go here */}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section
        aria-label="BestCodes is a Creator"
        id="creator-section"
        class="h-fit w-full flex p-8 justify-end items-end"
    >
        <div class="w-full sm:w-full md:w-3/4 lg:w-2/3">
            <div
                class="dark:bg-slate-800 dark:border-none rounded-lg border border-gray-200 bg-white"
            >
                <div class="p-6 pb-0">
                    <div class="flex flex-row items-center gap-2">
                        <Image
                            src="/image/emoji/artist.png"
                            alt="artist"
                            width={56}
                            height={56}
                            class="h-8 w-8 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-14 lg:w-14"
                        />
                        <span
                            class="text-3xl sm:text-3xl md:text-4xl lg:text-6xl dark:text-white"
                        >
                            I&apos;m a <span class="text-blue-500">Creator</span
                            >
                        </span>
                    </div>
                    <p class="dark:text-gray-300 mt-2">
                        An uncreative catch-all word for everything else I do
                    </p>
                </div>
                <div class="flex flex-col gap-4 text-lg dark:text-white p-6">
                    <p>
                        I design stuff. I create stuff. I{" "}
                        <a
                            href="https://makerworld.com/en/@Best_codes"
                            class="text-blue-500"
                        >
                            print stuff.
                        </a>
                    </p>
                    <p>
                        Once upon a time, I received a challenge - if I could
                        learn to 3D design, the challenger would gift me a free
                        3D Printer.
                    </p>
                    <p>
                        How could I turn that down? I got right to work. I began
                        3D modeling with Blender, which wasn&apos;t the easiest
                        thing to start with. Blender targets 3D animation / film
                        production, but thankfully there are plenty of tutorials
                        on YouTube.
                    </p>
                    <p>
                        I usually use OnShape (a CAD software), but I&apos;m
                        learning a bit more mesh modeling and other softwares.
                    </p>
                    <p>
                        I have a Printables account, but I mostly use
                        MakerWorld. Here&apos;s a few of my &apos;Pinned
                        Modles&apos;.
                    </p>
                    <div
                        class="w-full flex flex-col gap-4 justify-center items-center mt-4"
                    >
                        {/* Carousel will go here */}
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
