---
import Layout from "../layouts/Layout.astro";
import MatrixAnimation from "../components/MatrixAnimation.tsx";
---

<Layout>
    <div class="w-full h-screen">
        <MatrixAnimation
            client:only="solid-js"
            backgroundColor="#000"
            textColor="#0F0"
        />
    </div>
</Layout>
