---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import MatrixAnimation from "../components/MatrixAnimation.tsx";
---

<Layout>
    <div class="w-full h-80 relative">
        <MatrixAnimation
            client:only="solid-js"
            backgroundColor="#000"
            textColor="#3b82f6"
        />
        <div
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex items-center"
        >
            <img
                src="/image/emoji/waving_hand.png"
                alt="Waving Hand Emoji"
                class="h-20 sm:h-36 mr-2"
            />
            <h1 class="text-6xl sm:text-9xl font-bold text-white">Hi</h1>
        </div>
    </div>

    <div class="w-full flex flex-col items-center mt-8 sm:mt-16">
        <Image
            src="/image/best_codes_logo_low_res.png"
            alt="BestCodes Logo"
            class="h-16 w-16 sm:h-16 sm:w-16 md:h-24 md:w-24 lg:h-32 lg:w-32 rounded-full"
            width={128}
            height={128}
        />
        <h2
            class="mt-4 text-5xl sm:text-5xl md:text-6xl lg:text-8xl text-blue-500 font-bold mb-4"
        >
            I'm BestCodes
        </h2>
        <p class="text-xl sm:text-xl md:text-3xl lg:text-5xl text-blue-500">
            Christian, Coder, Creator
        </p>
    </div>
</Layout>
